body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 237, 249);
    height: 5000px;
}

#fixedNav{
    width: 20%;
    height: 100%;
    margin: 0;
    font-size: 100%;
    position: fixed;
    background-color: rgba(102, 61, 83, 0.904);
    color: rgb(250, 244, 244);   
}
h1{
    padding-top: 15%;
    font-size: 165%;
    padding-right: 10%;
    text-align: right;   
}
.pp{
    margin-bottom: 40%;
    padding-right: 10%;
    text-align: right;
}
h2{
    margin-bottom: 20%;
    padding-right: 10%;
    text-align: right;
    font-size: 120%;
}
#nkar{
    border: 8px solid rgba(102, 61, 83, 0.904);
}
#myus{
    position: absolute;
    top: 5%;
    left: 30%;
    font-size: 160%;
    color: rgba(102, 61, 83, 0.904);
}
.text{
    width: 75%;
    font-size: 70%;
    text-align: justify;
}
hr{
    width: 80%;
    text-align: left;
    margin-left: 0;
    border: none;
    border-top: 3px solid rgba(102, 61, 83, 0.904);
}
li{
    margin: 0;
    padding: 0;
}